<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="per.boot.dao.EventDAO">

	<select id="getEndList" resultType="per.boot.vo.EventVO">
		<![CDATA[
			SELECT * FROM event WHERE to_char(end_date) < to_char(sysdate)	
		]]>
	</select>
 
	<select id="getIngList" resultType="per.boot.vo.EventVO">
		<![CDATA[
 			SELECT * FROM event WHERE to_char(end_date) >= to_char(sysdate)
		]]>	
	</select>
	
	<select id="getWinnerList" resultType="per.boot.vo.BoardVO">
		<![CDATA[
			SELECT * FROM board WHERE category = 'event'
		]]>
	</select>
	
	<select id="getEvent" resultType="per.boot.vo.EventVO">
		<![CDATA[
			SELECT * FROM event WHERE event_id = #{page}
		]]>		
	</select>
 
</mapper> 
